<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
    <!-- Active Profile Section -->
    <activeProfiles>
        <activeProfile>7.10</activeProfile>
    </activeProfiles>
 
    <profiles>
        <profile>
            <id>7.8</id>
            <properties>
                <profile.name>Fuse-7.8</profile.name>
				<fuse.version>7.8</fuse.version>
				<fuse.image.version>1.8</fuse.image.version>
				<fuse.ignite.operator.manifest.dir>/manifests/7.8.0</fuse.ignite.operator.manifest.dir>
				<fuse.ignite.operator.cluster.service.spec.version>7.8.0</fuse.ignite.operator.cluster.service.spec.version>
				<fuse.ignite.operator.cluster.service.clusterServiceVersion>manifests/7.8.0/fuse-online-operator.v7.8.0.clusterserviceversion.yaml</fuse.ignite.operator.cluster.service.clusterServiceVersion>
				<fuse.ignite.operator.config>/conf/config.yaml</fuse.ignite.operator.config>
				<fuse.ignite.operator.upstream>1.11.x</fuse.ignite.operator.upstream>
            </properties>
        </profile>
		<profile>
			<id>7.9</id>
			<properties>
				<profile.name>Fuse-7.9</profile.name>
				<fuse.version>7.9</fuse.version>
				<fuse.image.version>1.9</fuse.image.version>
				<fuse.ignite.operator.manifest.dir>/manifests/7.9.0</fuse.ignite.operator.manifest.dir>
				<fuse.ignite.operator.cluster.service.spec.version>7.9.0</fuse.ignite.operator.cluster.service.spec.version>
				<fuse.ignite.operator.cluster.service.clusterServiceVersion>manifests/7.9.0/fuse-online-operator.v7.9.0.clusterserviceversion.yaml</fuse.ignite.operator.cluster.service.clusterServiceVersion>
				<fuse.ignite.operator.config>/conf/config.yaml</fuse.ignite.operator.config>
				<fuse.ignite.operator.upstream>1.12.x</fuse.ignite.operator.upstream>
			</properties>
		</profile>
		<profile>
			<id>7.10</id>
			<properties>
				<profile.name>Fuse-7.10</profile.name>
				<fuse.version>7.10</fuse.version>
				<fuse.image.version>1.10</fuse.image.version>
				<fuse.ignite.operator.manifest.dir>/manifests/7.10.0</fuse.ignite.operator.manifest.dir>
				<fuse.ignite.operator.cluster.service.spec.version>7.10.0</fuse.ignite.operator.cluster.service.spec.version>
				<fuse.ignite.operator.cluster.service.clusterServiceVersion>manifests/7.10.0/fuse-online-operator.v7.10.0.clusterserviceversion.yaml</fuse.ignite.operator.cluster.service.clusterServiceVersion>
				<fuse.ignite.operator.config>/conf/config.yaml</fuse.ignite.operator.config>
				<fuse.ignite.operator.upstream>1.13.x</fuse.ignite.operator.upstream>
			</properties>
		</profile>
		<profile>
			<id>7.11</id>
			<properties>
				<profile.name>Fuse-7.11</profile.name>
				<fuse.version>7.11</fuse.version>
				<fuse.image.version>1.11</fuse.image.version>
				<fuse.ignite.operator.manifest.dir>/manifests/7.11.0</fuse.ignite.operator.manifest.dir>
				<fuse.ignite.operator.cluster.service.spec.version>7.11.0</fuse.ignite.operator.cluster.service.spec.version>
				<fuse.ignite.operator.cluster.service.clusterServiceVersion>manifests/7.11.0/fuse-online-operator.v7.11.0.clusterserviceversion.yaml</fuse.ignite.operator.cluster.service.clusterServiceVersion>
				<fuse.ignite.operator.config>/conf/config.yaml</fuse.ignite.operator.config>
				<fuse.ignite.operator.upstream>1.14.x</fuse.ignite.operator.upstream>
			</properties>
		</profile>
    </profiles>
</settings>
